/*
** GENERAL STYLING
*/

@font-face {
    font-family: Mulish;
    src: url("../fonts/Mulish-VariableFont_wght.ttf") format("truetype");
}

:root {
    --color-main: #450920;
    --color-secondary: #F9DBBD;
    --color-third: #DA627D;
    --color-highlight: #00FFC5;
    --font-main: 'Mulish';
    --xx-large: 6rem;
    --x-large: 3.5rem;
    --large: 3rem;
    --big: 2rem;
    --medium: 1.5rem;
    --normal: 1rem;
    --small: 0.8rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

*::selection {
    background: var(--color-highlight);
    color: var(--color-third);
}

html {
    font-size: 20px;
    font-family: var(--font-main);
    overflow-y: scroll;
    overflow-y: overlay;
}

body {
    background-color: var(--color-main);
}

h1, h2 {
    font-weight: 900;
    text-transform: uppercase;
}

/* SHOW HEADER WITH NAV ON DESKTOP */
.header-desktop {
    padding: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-main);
    z-index: 2;
}

/* HIDE MOBILE NAV ON DESKTOP */
.header-mobile {
    display: none;
}

main {
    margin-bottom: 5rem;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    left: 10rem;
    right: 10rem;
    background: var(--color-main);
    z-index: 10;
}

.top-bar .icons {
    margin: 0;
}

nav ul, .legal-links ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    font-size: var(--big);
    color: var(--color-secondary);
    font-weight: 900;
    text-transform: uppercase;
}

nav a:hover, nav a:focus {
    text-shadow: 4px 4px 0 var(--color-third);
}

nav a:focus {
    color: transparent;
    border-bottom: 2px dotted white;
}

.active {
    color: transparent;
    text-shadow: 4px 4px 0 var(--color-third);
    pointer-events: none;
}

.legal-links {
    background: var(--color-main);
    font-size: var(--small);
    position: fixed;
    top: 0.5rem;
    right: 10rem;
    text-transform: uppercase;
    z-index: 10;
}

.legal-links a {
    margin-left: 1rem;
    color: var(--color-third);
    letter-spacing: 2px;
}

.legal-links a:hover {
    border-bottom: 1px solid var(--color-third);
}

.legal-notice input[type="radio"]{
    all: unset;
}

.language-switch {
    padding: .5rem 1rem;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}

.legal-notice input[type="radio"]:checked + label {
    background: var(--color-third);
}

.german, .english {
    display: none;
}

#english:checked ~ .english {
    display: block;
}

#german:checked ~ .german {
    display: block;
}

.legal h2 {
    line-height: 2;
}

.legal:not(h2) {
    color: white;
    line-height: 1.5;
}

h3 {
    font-size:var(--big);
}

.legal p {
    font-size: var(--medium);
}

h1 a {
    color: var(--color-secondary);
}

h1 a:hover {
    color: var(--color-third);
}

.hero {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}

.headline, .hero h2 {
    transform: rotate(-4deg) skew(-4deg);
    letter-spacing: 4px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    font-size: var(--xx-large);
    color: var(--color-third);
    text-shadow: 4px 4px var(--color-secondary);
}

.content {
    margin-top: 3rem;
}

.hero h2 {
    font-size: var(--medium);
    color: var(--color-secondary);
    text-align: center;
}

.icons {
    font-size: var(--big);
    margin-top: 5rem;
}

.icons a {
    color: white;
}

.icons a:not(:first-of-type) {
    margin-left: 2rem;
}

.icons a:hover {
    color: var(--color-third);
}

.container {
    padding: 2rem 10rem;
    margin-top: 4rem;
}

.container h1 {
    font-size: var(--x-large);
    color: var(--color-third);
}

.container h2 {
    font-size: var(--large);
    color:var(--color-secondary);
}

.client {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.client .headline {
    color: var(--color-third);
    transition: .1s;
    cursor: default;
}

.client:hover .headline {
    letter-spacing: 15px;
}

.clients {
    display: flex;
    flex-direction: column;
}

.clients p {
    color: white;
}

.clients a {
    color: white;
    font-weight: 700;
    transition: 0.1s;
    border-bottom: 2px solid transparent;
}

.clients a:hover {
    border-bottom: 2px solid var(--color-third);
    transition: 0.1s;
}

.clients p, .clients a {
    transform: rotate(-4deg) skew(-4deg);
}

.contact-info {
    margin-top: 3rem;
    display: flex;
    gap: 4rem;
    font-size: var(--big);
}


.contact-icon, .contact-link {
    color: white;
}

.contact-link {
    border-bottom: 4px solid transparent;
}

.contact-link:hover {
    border-bottom: 4px solid var(--color-third);
}

.contact-icon:hover ~ .contact-link {
    border-bottom: 4px solid var(--color-third);
}

.legal h3, .legal h4 {
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.8;
}

.legal h4, .legal h5, .legal p {
    line-height: 1.8;
}

.legal h4 {
    font-size: var(--medium);
}

.legal h5 {
    font-size: var(--normal);
    font-weight: 900;
    text-transform: uppercase;
}

.legal h3:not(:first-of-type) {
    margin-top: 5rem;
}

.legal p {
    margin-bottom: 5rem;
}

.legal a {
    color: white;
    border-bottom: 2px solid var(--color-third);
}

.legal ul {
    font-size: var(--medium);
    padding-left: 3rem;
}

.legal li {
    margin-bottom: 2rem;
}

@media (max-height: 780px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1100px), (max-height: 780px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 900px), (max-height: 620px) {
    :root {
        --xx-large: 5rem;
    }
    html {
        font-size: 16px;
    }

    .hero h2 {
        text-align: center;;
    }

    .header-desktop a {
        font-size: var(--normal);
    }
}

@media (max-width: 600px), (max-height: 560px) {
    :root {
        --xx-large: 4rem;
    }

    html {
        font-size: 10px;
    }

    .header-desktop {
        display: none;
    }

    .toggle-menu {
        all: unset;
    }

    .toggle, .untoggle {
        color: var(--color-secondary);
        font-size: var(--large);
        position: fixed;
        right: 3rem;
        top: 2.5rem;
        z-index: 10;
        padding: 0;
    }

    .toggle-menu:not(:checked) ~ .untoggle, .toggle-menu:checked ~ .toggle {
        display: none;
    }

    .toggle-menu:not(:checked) ~ .toggle, .toggle-menu:checked ~ .untoggle {
        display: inline;
    }

    .toggle-menu:checked ~ nav {
        display: block;
    }

    .header-mobile {
        display: block;
    }

    .top-bar {
        left: 0;
        padding-left: 3rem;
        right: 0;
        padding-right: 3rem;
    }

    .top-bar h1, .top-bar .icons {
        position: relative;
        z-index: 10;
    }

    .top-bar .icons {
        position: fixed;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        z-index: 6;
    }

    .container {
        padding: 0;
        margin: 10rem 2rem;
    }

    .client .headline {
        font-size: var(--big);
        letter-spacing: 2px;
    }

    .client:hover .headline {
        letter-spacing: 2px;
    }

    .header-mobile nav {
        position: absolute;
        height: 100vh;
        background: var(--color-main);
        display: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
    }

    .header-mobile ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        text-align: center;
        padding: 4rem 0;
    }

    .header-mobile a {
        font-size: var(--x-large);
        text-shadow: 2px 2px 0 var(--color-third);
        line-height: 2;
        transform: rotate(-4deg) skew(-4deg);
    }

    .header-mobile a:hover {
        text-shadow: 2px 2px 0 var(--color-third);
    }

    .legal-links {
        top: unset;
        padding: 2rem;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .hero {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .headline {
        text-shadow: 2px 2px 0 var(--color-secondary);
    }

    .hero h2 {
        font-size: var(--medium);
        text-align: center;
        padding: 0 5px;
    }

    .hero .icons {
        font-size: var(--large);
    }
}